<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307288245777-gqsu74d9no5p1n759pe8nmdanp0acros.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307288245777-gqsu74d9no5p1n759pe8nmdanp0acros</string>
	<key>API_KEY</key>
	<string>AIzaSyCk--g4dF_vB4LVpMQ4bUAXPEhmOlGphWk</string>
	<key>GCM_SENDER_ID</key>
	<string>307288245777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientApp</string>
	<key>PROJECT_ID</key>
	<string>sewagerobot-77461</string>
	<key>STORAGE_BUCKET</key>
	<string>sewagerobot-77461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307288245777:ios:4b6eced9e544aeb57c93b0</string>
</dict>
</plist>